.layout
{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}

.layout__cell
{
    padding: 5px 10px 5px 0;
}

.layout-3-2 .layout__cell
{
    width: 33.33333%;
}

.layout-3-2 .layout__cell:nth-child(3n+3)
{
    padding-right: 0;
}

@media (max-width: 1000px) and (min-width: 721px)
{
    .layout-3-2 .layout__cell
    {
        width: 50%;
    }

    .layout-3-2 .layout__cell:nth-child(3n+3)
    {
        padding-right: 10px;
    }

    .layout-3-2 .layout__cell:nth-child(2n+2)
    {
        padding-right: 0;
    }
}

@media (max-width: 720px) and (min-width: 0)
{
    .layout-3-2 .layout__cell
    {
        width: 100%;
        padding: 5px 10px;
    }

    .layout-3-2 .layout__cell:nth-child(2n+2),
    .layout-3-2 .layout__cell:nth-child(3n+3)
    {
        padding: 5px 10px;
    }
}