
.btn
{
    font: 14px Arial, sans-serif;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 36px;
    padding: 0 20px;

    cursor: pointer;
    vertical-align: middle;
    background: #E30413;
    color: #fff;
    border: 0;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

.btn:active
{
    -webkit-box-shadow: inset 2px 2px 6px rgba(19, 56, 95, .5);
    box-shadow: inset 2px 2px 6px rgba(19, 56, 95, .5);
}

.btn_size_l
{
    font-size: 30px;
    width: 100%;
}

.btn i
{
    margin: 0 10px 0 0;
}
