/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, figure, figcaption, footer, header,
menu, nav, section
{
    margin: 0;
    padding: 0;
    border: 0;

    vertical-align: baseline;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6
{
    font-family: Arial, sans-serif;
    font-weight: normal;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section
{
    display: block;
}

ol, ul
{
    list-style: none;
}

table
{
    border-collapse: collapse;
    border-spacing: 0;
}

img
{
    max-width: 100%;
    height: auto;

    border: 0;
}

a
{
    outline: 0;
}

input[placeholder],
input::-moz-placeholder,
input:-moz-placeholder,
input:-ms-input-placeholder
{
    text-overflow: ellipsis;
}