@import "reset.css";
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

.page
{
    font: 14px Arial, sans-serif;

    color: #2b2b2b;
    background: #f8f8f8;
}

.page__body
{
    min-width: 320px;
}


